@use '../variables' as v;
@use '../mixins' as m;

.deemy-header {
  &__logo {
    width: 60px;
    .site-logo {
      color: var(--e-global-color-d438129);
      &:hover {
        color: var(--e-global-color-primary);
      }
    }
  }
}