@use '../variables' as v;
@use '../mixins' as m;

.elementor-element.deemy-sticky-button {
  position: fixed;
  bottom: 5rem;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  opacity: 1;
}

body.section-07-active .deemy-sticky-button {
  position: relative;
  top: auto;
  bottom: auto;
  margin-top: 2rem;
  justify-content: flex-start;
}

body.section-08-active .deemy-sticky-button {
  position: absolute;
  top: -60px;
  opacity: 0;
}